<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate, max-age=0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>{{ project.title }} - 分享演示</title>
    <link href="/static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/lib/font-awesome/css/all.min.css" rel="stylesheet">
    <style>
{% include "components/project/fullscreen_presentation/style_1.html" %}
    </style>
</head>

<body>
{% include "components/project/fullscreen_presentation/body_1.html" %}
    <script src="/static/js/iframe_session.js?v=20260513i"></script>
    <script>
{% include "components/project/fullscreen_presentation/script_1.html" %}
    </script>
</body>

</html>
