<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO进度 - {{ todo_board.title }}</title>
    <link href="/static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/lib/font-awesome/css/all.min.css" rel="stylesheet">
    <!-- CodeMirror CSS -->
    <link rel="stylesheet" href="/static/lib/codemirror/css/codemirror.min.css">
    <link rel="stylesheet" href="/static/lib/codemirror/css/dracula.min.css">
    <style>
{% include "components/project/todo_board_with_editor/style_1.html" %}
    </style>
</head>

<body>
{% include "components/project/todo_board_with_editor/body_1.html" %}
    <script src="/static/js/iframe_session.js?v=20260513i"></script>
    <script src="/static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- CodeMirror JS -->
    <script src="/static/lib/codemirror/js/codemirror.min.js"></script>
    <script src="/static/lib/codemirror/js/xml.min.js"></script>
    <script src="/static/lib/codemirror/js/javascript.min.js"></script>
    <script src="/static/lib/codemirror/js/css.min.js"></script>
    <script src="/static/lib/codemirror/js/htmlmixed.min.js"></script>
    <script src="/static/lib/codemirror/js/closetag.min.js"></script>
    <script src="/static/lib/codemirror/js/closebrackets.min.js"></script>
    <script src="/static/lib/codemirror/js/foldcode.min.js"></script>
    <script src="/static/lib/codemirror/js/foldgutter.min.js"></script>
    <script src="/static/lib/codemirror/js/xml-fold.min.js"></script>
    <script>
{% include "components/project/todo_board_with_editor/script_1.html" %}
    </script>
</body>

</html>
